.cardGroup
{
  margin-top: 40px;
}
.naslov h2 {
  font-size: 46px; /* Promijenite veličinu fonta po potrebi */
  font-weight: bold; /* Dodajte debljinu fonta ako je potrebno */
  color: #333; /* Dodajte boju po želji */
  margin-bottom: 20px;
}
.opis {
  font-size: 18px; /* Veličina fonta */
  color: #666; /* Boja teksta */
  margin-top: 10px; /* Razmak iznad opisa */
  line-height: 1.5; /* Visina linije */
  margin-bottom: 30px;
}

