
.search-bar2
{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  min-width: 700px;
  border-radius: 50px;
  border: 1px solid #EEF1FF;
}
.dropdown2
{
  position: relative;
  width: 280px;
  border-radius: 50px;
  border: 1px solid #EEF1FF;
  background-color: #EEF1FF;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;;
  cursor: pointer;
}
.dropdown2-text
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  color:black;
  padding: 1rem 1.5rem
}
.dropdown2-list
{
position: absolute;
top: 4rem;
left: 0;
width: 100%;
border-radius: 15px;
max-height: 0;
overflow: hidden;
background-color: #EEF1FF;
transition: max-height 0.5s;
}
#list.show
{
  max-height: 300px;
}
.dropdown2-list-item
{
  font-size: 0.9rem ;
  font-weight: 500;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: margin-left 0.2s ease, color 0.2s ease;
}
.dropdown2-list-item:hover
{
margin-left: 0.5rem;
color: black
}
.search-box2
{
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
  color: black;
}
.search-box2 input
{
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  border: 0;
  outline: 0;
}
.search-box2 i
{
  font-size: 1.3rem ;
  cursor: pointer;
}
.search-box2 input::placeholder
{
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.search_result {
  background-color: #EEF1FF;
  width: 800px;
  margin-left: 250px;
  margin-top: 10px;
  position: absolute;
}
.search_result a {
  color: inherit;
  text-decoration: none;
}

.search-box2 input {
  outline: none;
}





.search_result::-webkit-scrollbar {
  display: none;
}

.search_suggestion_line,
.search_loading {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  display: block;
}

.search_suggestion_line:hover {
  background-color: #EEF1FF;
}
.search_suggestion_line.active {
  background: rgb(227, 227, 227);
}