.star {
    align-items: center;
    gap: 3px;
    font-size: 40p;
}
.card
{
  width:max-content  !important;
}
.card-img-top
{  object-fit: contain; /* Ovo osigurava da se slika prikaže unutar kontejnera bez izobličenja */

  
}
.user-info {
    display: flex; /* Postavlja elemente u horizontalnu liniju */
    align-items: center; /* Centrira vertikalno elemente unutar flex kontejnera */
    max-height: 100px;
  }
  
  .user-info img {
    margin-right: 5px; /* Dodaje razmak s desne strane slike */
    border-radius: 50%;

  }
  .user-info p {
    padding-top: 1rem;
  font-size: 1.95rem;
  }
  .sccolor
  {
 background-color: #f5f6fe;
    
  }
