
.swiper-container {
  width: 512px; /* Postavljanje širine kontejnera */
  height: 512px; /* Postavljanje visine kontejnera */
}

/* Stil za slike */
.swiper-slide img {
  width: 100%; /* Puno popunjavanje širine unutar slajda */
  height: 100%; /* Puno popunjavanje visine unutar slajda */
  object-fit: cover; /* Omogućuje skaliranje slike tako da se cijela slika prikaže unutar slajda */
}